{% extends "base.html" %}
{% block content %}

<h1>Wettkämpfe für {{ meeting_name }}</h1>

{% for wettkampf_name, wettkampf_liste in wettkaempfe.iteritems %}
  <h2>{{ wettkampf_name }}</h2>
  <a href="{% url 'meeting:einteilung' meeting_id wettkampf_liste.0.info wettkampf_liste.0.kategorie.name %}">Einteilung</a>
  <a href="{% url 'meeting:rangliste' meeting_id wettkampf_liste.0.info wettkampf_liste.0.kategorie.name %}">Rangliste</a>
  <ul>
    {% for wettkampf in wettkampf_liste %}
      <li>{{ wettkampf.punkteformel }}</li>
    {% endfor %}
  </ul>
{% endfor %}

<a href="{% url 'meeting:detail' meeting_id %}">Back to Meeting</a>

{% endblock %}
