{% extends "base.html" %}
{% block content %}

<h1>Zeitplan für {{ meeting_name }}</h1>

<h2>{{ wettkampf_name }}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      {% for item in headings %}
        <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  <body>
    {% for columns in data %}
      <tr>
        {% for column in columns %}
          <td>{{ column }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'meeting:detail' meeting_id %}">Back to Meeting</a>

{% endblock %}
