{% extends "base.html" %}

{% block content %}
<h1>Gruppeneinteilung für {{ wettkampf_name }}</h1>

<table id="tablesorter" class="table table-bordered">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Name</th>
      <th>Verein</th>
      <th>Bestleistung</th>
      <th>Gruppe</th>
    </tr>
  </thead>
  <tbody id="sortable">
    {% for item in anmeldungen %}
      <tr>
        <td>{{ item.vorname }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.verein }}</td>
        <td>{{ item.bestleistung }}</td>
        <td>{{ item.gruppe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p><a href="{% url 'main:wettkampf-index' meeting_id %}">Back to Wettkämpfe</a></p>
{% endblock content %}

{% block scripts %}
<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    $( "#tablesorter" ).tablesorter();
  });
</script>
{% endblock scripts %}
