<h1>{{stadion.name}}</h1>
<ul>
  <li>Id: {{ stadion.id }}</li>
  <li>Bahnen (gerade): {{ stadion.bahnengerade }}</li>
  <li>Bahnen: {{ stadion.bahnen }}</li>
</ul>

<form action="{% url 'main:stadion-delete' stadion.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete" />
</form>

{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<h2>Anlagen:</h2>
<form action="{% url 'main:stadion-vote' stadion.id %}" method="post">
  {% csrf_token %}
  {% for anlage in stadion.anlagen.all %}
    <input type="radio" name="anlage" id="choice{{ forloop.counter }}" value="{{ anlage.xanlage }}" />
    <label for="choice{{ forloop.counter }}">{{ anlage.bezeichnung }}</label><br />
  {% endfor %}
  <input type="submit" value="Vote" />
</form>

<a href="{% url 'main:stadion-index' %}">Back to list</a>
