{% extends "base.html" %}
{% block content %}

<h1>Wettkämpfe für {{ meeting_name }}</h1>

{% for kategorie_name, kategorien_wettkaempfe in wettkaempfe.iteritems %}
  <p>{{ kategorie_name }}:</p>
  <ul>
    {% for wettkampf_name, disziplinen in kategorien_wettkaempfe.iteritems %}
      <li>{{ wettkampf_name }}:
	<a href="{% url 'main:wettkampf-detail' meeting_id disziplinen.0.info disziplinen.0.kategorie.name %}">Details</a>
	<a href="{% url 'main:gruppen-einteilung' meeting_id disziplinen.0.info disziplinen.0.kategorie.name %}">Gruppeneinteilung</a>
	<a href="{% url 'main:rangliste' meeting_id disziplinen.0.info disziplinen.0.kategorie.name %}">Rangliste</a>
      </li>
      <ul>
      </ul>
    {% endfor %}
  </ul>
{% endfor %}


<a href="{% url 'main:meeting-detail' meeting_id %}">Back to Meeting</a>

{% endblock %}
