{% extends "base.html" %}
{% block content %}

<h1>Wettkämpfe für {{ meeting_name }}</h1>

{% for kategorie_name, kategorien_wettkaempfe in wettkaempfe.iteritems %}
  <p>{{ kategorie_name }}:</p>
  <ul>
    {% for wettkampf in kategorien_wettkaempfe %}
      <li>{{ wettkampf.description }}:
	<a href="{% url 'main:wettkampf-detail' meeting_id wettkampf.info kategorie_name %}">Details</a>
	<a href="{% url 'main:gruppen-einteilung' meeting_id wettkampf.info kategorie_name %}">Gruppeneinteilung</a>
	<a href="{% url 'main:rangliste' meeting_id wettkampf.info kategorie_name %}">Rangliste</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}


<a href="{% url 'main:meeting-detail' meeting_id %}">Back to Meeting</a>

{% endblock %}
