{% extends "base.html" %}
{% block content %}

<h1>Wettkämpfe für {{ meeting_name }}</h1>
<ul>
{% for kategorie, kwettkaempfe in wettkaempfe %}
  <li>{{ kategorie }}</li>
  <ul>
    {% for wettkampf, disziplinen in kwettkaempfe %}
      <li>{{ wettkampf }}:
	<a href="{% url 'main:wettkampf-detail' meeting_id disziplinen.0.info kategorie %}">Details</a>
	<a href="{% url 'main:gruppen-einteilung' meeting_id disziplinen.0.info disziplinen.0.kategorie.name %}">Gruppeneinteilung</a>
	<a href="{% url 'main:rangliste' meeting_id disziplinen.0.info disziplinen.0.kategorie.name %}">Rangliste</a>
      </li>
      <ul>
        {% for wdisziplin in disziplinen %}
           <li>{{ wdisziplin.disziplin.kurzname }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endfor %}
</ul>

<a href="{% url 'main:meeting-detail' meeting_id %}">Back to Meeting</a>

{% endblock %}
